<mat-tab-group mat-align-tabs="start" >
    <div *ngFor="let tab of dataTabs">
            <mat-tab label="{{tab.name}}"> 
                    <table class="center-table" >
                        <tr>
                            <th style="width: 2%"></th>
                            <th class="center" *ngFor="let head of tab.headers">{{head}}</th>
                            <th style="width: 2%"></th>
                        </tr>
                        <tr *ngFor="let item of tab.data">
                            <td>&nbsp;</td>
                            <td>{{item.title}}</td>
                            <td class="center" >{{item.dairyValue}}</td>
                            <td class="center" >{{item.maxValue}}</td>
                            <td>&nbsp;</td>                                        
                        </tr>
                      </table>
            </mat-tab>
    </div>
</mat-tab-group>
