

/* path, g{
    fill: #d1c9b8;
} */
agm-map {
    // min-height: 30vh;
    height: 100%;

    // max-height: 100%;
    // height: calc(100%);
}
.info-window{
    color:black;
}
.si-wrapper-top{
    width: 600px;
}
.si-content{
    color: black;
}