@import 'src/style/_mixins.scss';
@import 'src/style/_variables.scss';


.modal-container {
    min-width: calc(100vh - 817px);
    max-height: calc(100vh - 150px);
    z-index: 9999;
}

.sticky-header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index:2;
      }
