
td{
    font-size: 0.9em;
  }
  
  table.center-table {
    width: 100%;
    margin: auto;
    align-content: center;
  }
  
  th{
    background-color: rgb(233, 231, 231);
    height: 2em;
  }

  .active-icon{
    width: 1.1em;
    display: block;
    margin: auto;
  }